
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-size-adjust:100%;
}   


body{
    background-color: #2b2318;
}

body,html{
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
    max-width: 640px;
    margin: 0 auto 64px;
}
 

header{
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid gray
}

header h1{
    font-size: 30px; 
    color: #e8f6f8;

    padding-top: 20px;
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#quiz{
    counter-reset: quiz-item;
}

.quiz-item{
    margin-top: 24px;
    border: 1px solid gray;
    border-radius: 6px;

    overflow: hidden
}

.quiz-item h3::before{
    counter-increment: quiz-item;
    content:counter(quiz-item);

    background-color:#47392d;
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 50%;
    flex-shrink: 0;



    display:flex;
    align-items: center;
    justify-content: center;

}

.quiz-item h3{
    padding: 16px 20px;
    color: black;

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: #dbbf97;
}

.quiz-item dl{
    padding: 20px 24px;

    display: grid;
    gap: 8px
}

.quiz-item dl dt {
    font-size: 20px;
    line-height: 24px ;
    letter-spacing: 0;


    display: flex;
    align-items: center;
    gap: 8px;

    color: #e8f6f8

}

input{
   all:unset;
   border: 1px solid  #94a3b8;
   width: 16px;
   height: 16px;

   display: flex;
   border-radius: 50%;
   align-items: center;
   justify-content: center;

   flex-shrink: 0;

}

input:checked{
    border:1px solid white ;

}

input:checked:before{
    content: "";
    width: 12px;
    height: 12px;
    
    display:block;
    background-color:black;
    border-radius: 50px;

}

/*Declaração*/
#Acertos{
    text-align: center;
    background-color:#dbbf97;
    
    position:fixed;
    bottom:0;
    left: 0;
    
    width: 100%; 
    padding:2px;
}

.imagem{
    border: 5px solid;
    border-radius: 10%;
    
    
    
    margin: 0 auto; 
    width: 200px;
    height: 150px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


